:root {
    font-size: 20px; /* Increase from the default (usually 16px) */
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling on the body itself */
  }
  
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
  }

  /* Loading Screen Styles */
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .loading-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading-text {
    color: white;
    font-size: 1.2rem;
  }

  /* scrollbar */
  .overlay-scrollbar {
    overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  }

  /* For older browsers that support -webkit scrollbars */
  ::-webkit-scrollbar {
    width: 12px; 
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .hidden {
    display: none;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* No scrollbar attached to navbar */
  }

  .navbar-text {
    color: white;
  }

  #selectedTranslator {
    color: white;
  }

  #selectedTag {
    color: white;
  }

  .dropdown-toggle::after {
    color: white;
    border-top-color: white;
  }
  
  .navbar-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }

  .form-check-input {
    border-color: #f8f9fa;
  }
  
  .form-check-input:checked {
    background-color: #212529;
    border-color: #f8f9fa;
  }
  
  .form-check-input:focus {
    outline: none; 
    border-color: #687582; /* Apply your custom border color */
    box-shadow: 0 0 0 0.18rem rgba(167, 186, 206, 0.25); /* Subtle box shadow with your custom color */
  }

  .form-check-input:hover {
    cursor: pointer;
  }

  .content-wrapper {
    margin-top: 3.5rem; /* Match your navbar height */
    height: calc(100vh - 56px); /* Viewport height minus navbar height */
    overflow-y: auto; /* This element gets the scrollbar */
    flex: 1;
  }

  .container-fluid {
    padding: 0 15px;
  }

  .table-responsive {
    padding: 0 15px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .count-badge {
    font-size: 0.8rem;
    color: #373a3d;
  }

  .count-badge.dark-mode {
    color: #adb5bd;
  }
  
  .table {
    width: 100%;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
  }
  
  th {
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .badge {
    display: inline;
  }
  
  .highlight-text-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .highlight-text.IIM {
    color: white;
    background-color: #ff4e22;
  }

  .highlight-text.SC {
    color: white;
    background-color: #b15500;
  }
  
  .highlight-text.LS {
    color: #212529;
    background-color: #ffc800;
  }

  .highlight-text.RW {
    color: white;
    background-color: #1a9c00;
  }

  .highlight-text.UP {
    color: white;
    background-color: #962bfa;
  }

  .highlight-text.NCE {
    color: white;
    background-color: #007bff;
  }

  .semi-highlight-text.IIM {
    background-color: rgba(255, 78, 34, 0.3);
  }

  .semi-highlight-text.SC {
    background-color: rgba(177, 85, 0, 0.3);
  }
  
  .semi-highlight-text.LS {
    background-color: rgba(255, 200, 0, 0.3);
  }

  .semi-highlight-text.RW {
    background-color: rgba(26, 156, 0, 0.3);
  }

  .semi-highlight-text.UP {
    background-color: rgba(150, 43, 250, 0.3);
  }

  .semi-highlight-text.NCE {
    background-color: rgba(0, 123, 255, 0.3);
  }
  
  table#comparisonTable tbody#comparisonTableBody tr td:nth-child(3) .highlight-text-container {
    cursor: pointer;
  }
  
  #explanationPopup {
    position: fixed;
    bottom: 15px;
    right: 43px;
    background-color: #dedede;
    border: 1px solid #212529;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    display: none;
  }
  
  #explanationPopup .explanation-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #212529;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #555;
    padding-bottom: 8px;
  }
  
  #explanationPopup .explanation-content {
    color: #212529;
  }
  
  #explanationPopup .close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: #212529;
  }
  
  /* Dark mode styles with proper specificity */
  #explanationPopup.dark-mode {
    background-color: #333940;
    border: 1px solid #ccc;
  }
  
  #explanationPopup.dark-mode .explanation-title {
    color: white;
    border-bottom: 1px solid #555;
  }
  
  #explanationPopup.dark-mode .explanation-content {
    color: white;
  }
  
  #explanationPopup.dark-mode .close-button {
    color: white;
  }

  #explanationPopup.dark-mode .close-button:before {
    color: white;
  }
  
  .close-button {
    background-color: transparent;
    font-size: 1.5em;
    color: #212529;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .close-button:before {
    content: "×";
    font-size: 2em;
    color: #212529;
  }